

.array-container{
    position: absolute;
    left: 100px;
    right: 100px;
    margin-top: 60px;
}

.array-bar{
    width: 3px;
    height: 30px;
    background-color: aqua;
    display: inline-block;
    margin: 0 1px;
    padding-right : 20px ;
}
.button{
    padding-top: 10px;
    padding-left: 10px;
}
.bar{
    background-color: red;
}
.bar2{
    background-color:orange;
}
