<div class="container">
    <div class="row">
        <div class="button">
            <button class="btn btn-primary" (click)="resetArray()">Gernerate new Array</button>
        </div>

        <div class="button">
            <button class="btn btn-primary" (click)="bubbleSort(rArray)">Bubble Sort</button>
        </div>

    </div>
</div>


<div class="array-container">
    <div>
        <div class="array-bar" *ngFor="let array of rArray; let i=index" [style.height.px]="array"
            [ngClass]="{bar : i===index }"></div>
    </div>
</div>